In [2]:
import pandas as pd
import datetime as dt

In [3]:
now = dt.datetime.now()

In [19]:
now.month

11

In [5]:
birthdays = pd.read_csv('birthdays.csv')

In [6]:
birthdays

    name                     email  year  month  day
0   Test            test@email.com  1961     12   21
1  David    dcastillo.st@gmail.com  1993      1   12
2  Laura  diaana_laura@hotmail.com  1994     12   12

In [13]:
birthdays[(birthdays['year'] == 1961) & (birthdays['month'] == 12)].index.tolist()

[0]

In [22]:
bday_list = birthdays[(birthdays['month'] == now.month) & (birthdays['day'] == now.day)].index.tolist()

In [23]:
bday_list

[]

In [24]:
birthdays['name'].loc[0]

'Test'

In [26]:
if []:
    print('hi')

TypeError: can only concatenate list (not "str") to list